<?php
$png = str_replace(DIRECTORY_SEPARATOR, '/', $png);
$svg = str_replace(DIRECTORY_SEPARATOR, '/', $svg);
$thumbnail = str_replace(DIRECTORY_SEPARATOR, '/', $thumbnail);
?>
<li class="decal item">
	<div class="thumbnail">
		<h5><?php echo $title;?></h5>
		<img src="<?php echo $thumbnail;?>" />
		<p>
			<a href="<?php echo $png;?>">png</a> |
			<a href="<?php echo $svg; ?>">svg</a>
		</p>
	</div>
</li>
