---
layout: default
title: templates
---
<li class="decal item ">
	<div class="thumbnail">
		<h5>brick_1x1_side</h5>
		<img src="F:/decals/resources/templates/brick_1x1_side.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/brick_1x1_side.svg.png">png</a> |
			<a href="F:/decals/resources/templates/brick_1x1_side.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>brick_1x2_side</h5>
		<img src="F:/decals/resources/templates/brick_1x2_side.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/brick_1x2_side.svg.png">png</a> |
			<a href="F:/decals/resources/templates/brick_1x2_side.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>brick_1x3_side</h5>
		<img src="F:/decals/resources/templates/brick_1x3_side.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/brick_1x3_side.svg.png">png</a> |
			<a href="F:/decals/resources/templates/brick_1x3_side.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>brick_1x4_side</h5>
		<img src="F:/decals/resources/templates/brick_1x4_side.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/brick_1x4_side.svg.png">png</a> |
			<a href="F:/decals/resources/templates/brick_1x4_side.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>brick_1x6_side</h5>
		<img src="F:/decals/resources/templates/brick_1x6_side.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/brick_1x6_side.svg.png">png</a> |
			<a href="F:/decals/resources/templates/brick_1x6_side.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>round_tile_2x2</h5>
		<img src="F:/decals/resources/templates/round_tile_2x2.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/round_tile_2x2.svg.png">png</a> |
			<a href="F:/decals/resources/templates/round_tile_2x2.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>shield.long</h5>
		<img src="F:/decals/resources/templates/shield.long.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/shield.long.svg.png">png</a> |
			<a href="F:/decals/resources/templates/shield.long.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>shield.triangular</h5>
		<img src="F:/decals/resources/templates/shield.triangular.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/shield.triangular.svg.png">png</a> |
			<a href="F:/decals/resources/templates/shield.triangular.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_1x1</h5>
		<img src="F:/decals/resources/templates/tile_1x1.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_1x1.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_1x1.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_1x2</h5>
		<img src="F:/decals/resources/templates/tile_1x2.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_1x2.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_1x2.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_1x3</h5>
		<img src="F:/decals/resources/templates/tile_1x3.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_1x3.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_1x3.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_1x4</h5>
		<img src="F:/decals/resources/templates/tile_1x4.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_1x4.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_1x4.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_1x6</h5>
		<img src="F:/decals/resources/templates/tile_1x6.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_1x6.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_1x6.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_1x8</h5>
		<img src="F:/decals/resources/templates/tile_1x8.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_1x8.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_1x8.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_2x2</h5>
		<img src="F:/decals/resources/templates/tile_2x2.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_2x2.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_2x2.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_2x4</h5>
		<img src="F:/decals/resources/templates/tile_2x4.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_2x4.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_2x4.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>tile_4x6_12_studs</h5>
		<img src="F:/decals/resources/templates/tile_4x6_12_studs.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/tile_4x6_12_studs.svg.png">png</a> |
			<a href="F:/decals/resources/templates/tile_4x6_12_studs.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>wedge_3x10</h5>
		<img src="F:/decals/resources/templates/wedge_3x10.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/wedge_3x10.svg.png">png</a> |
			<a href="F:/decals/resources/templates/wedge_3x10.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>wedge_3x12</h5>
		<img src="F:/decals/resources/templates/wedge_3x12.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/wedge_3x12.svg.png">png</a> |
			<a href="F:/decals/resources/templates/wedge_3x12.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>wedge_4x16</h5>
		<img src="F:/decals/resources/templates/wedge_4x16.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/wedge_4x16.svg.png">png</a> |
			<a href="F:/decals/resources/templates/wedge_4x16.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>wedge_4x4</h5>
		<img src="F:/decals/resources/templates/wedge_4x4.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/wedge_4x4.svg.png">png</a> |
			<a href="F:/decals/resources/templates/wedge_4x4.svg">svg</a>
		</p>
	</div>
</li>
<li class="decal item ">
	<div class="thumbnail">
		<h5>wedge_6x4</h5>
		<img src="F:/decals/resources/templates/wedge_6x4.svg.tb.png" />
		<p>
			<a href="F:/decals/resources/templates/wedge_6x4.svg.png">png</a> |
			<a href="F:/decals/resources/templates/wedge_6x4.svg">svg</a>
		</p>
	</div>
</li>
