$html = <<-DECAL_TEMPLATE
<li class="decal item #{$css}">
	<div class="thumbnail">
		<h5>#{$title}</h5>
		<img src="#{$thumbnail}" />
		<p>
			<a href="#{$png}">png</a> |
			<a href="#{$svg}">svg</a>
		</p>
	</div>
</li>
DECAL_TEMPLATE

